.main {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
}
.intro-container {
  background-image: url(https://gist.githubusercontent.com/brettlangdon/85942af486eb79118467/raw/2a7409cd3c26a90b2e82bdc40dc7db18b92b3517/06b3FMA.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}
.intro {
  width: 400px;
  margin: 20px;
}

.form {
  width: 400px;
  margin: 20px;
  background: white;
  padding: 20px;
}
.getting-started {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}
.getting-container {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}
.title {
  padding-top: 2rem;
}
.getting-sub-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.img {
  height: 300px;
  width: 300px;
}
.sidebar {
  width: 300px;
}

.team {
  height: 50vh;
  background: lightpink;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 530px) {
  .main {
    margin-bottom: 100px;
  }
}
